body {
	background-color: lightgray;
	font-family: Arial, Helvetica, sans-serif;
}

body.login {
	background: url("../static/background.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	overflow: hidden;
}

body.dashboard {
	background-color: black;
	/* background: url("../static/logo.png") no-repeat center center fixed; */
	background: url("../static/dash_background.jpg") no-repeat center center fixed; 
	background-size: cover;
	height: 100%;
}

body.stat {
	background: url("../static/sbackgroun.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	overflow: hidden;
	/* background-color: #036eb7; */
}

.topnav {
	background-color: #3c3937;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.right {
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #036eb7;
  color: white;
}